*{box-sizing: border-box;}
#wrapper{
	background-color: white;
	width: 960px;
	height: 960px;
	max-width: 100%;
	margin: 0 auto;
}

article{
	width: 50%;
	float: left;
	padding: 20px;

}
footer{
	clear: both;
	background-color: #1687af;
	padding-top: 1px;
	font-color:black;

}

img{
	display: block;
	margin-top: 1px;
	height: 450px;
	width: 960px;
	margin:auto;
}

#B{
	display: block;
	margin-top: 1px;
	height: 1550px;
	width: 1550px;
	margin:auto;
}

header{
	margin-bottom: 20px;
}

.abajo {color:black;
    margin: auto;
}

body{ background: white;
	 color:black;
	background: url(../image/) no-repeat center;
	background-size: cover;
}

nav>ul>li{
display: inline;}
nav{background-color: #1687af;text-align:center;}
a{display: inline-block;
color: black;
text-decoration:none;
width: 200px;
height: 50px;
padding-top: 15px}

a:link, a;visited{
	background-color:grey;
	}

a:hover, a:active{
    background-color:#f2f2f2;
    }	

#D
{width:957px;
height:2000px;	
display:block;
margin: left;
margin-top:10px;
}

#C
{width:960px;
height: 450px;	
display:block;
margin: left;
margin-top:10px;
}

